files:
  "/etc/cron.hourly/cron.logrotate.elasticbeanstalk.messages.conf":
    mode: "000755"
    content: |
      #!/bin/sh
      test -x /usr/sbin/logrotate || exit 0
      /usr/sbin/logrotate /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.messages.conf

  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.messages.conf":
    mode: "000644"
    content: |
      /var/log/messages {
       su root root
       size 10M
       rotate 5
       missingok
       compress
       notifempty
       copytruncate
       dateext
       dateformat %s
       olddir /var/log/rotated
     }
