Resources:
  AWSEBEC2LaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        TagSpecifications:
          - Tags:
              - Key: Project
                Value: value1
              - Key: CostCenter
                Value: value2
            ResourceType: instance
